h1 {
  text-align: center;
  color: #FFF;
}

.background {
  height: 100vh;
  background-image: url('../images/pattern.svg');
  background-size: cover;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
